.news {
  background-image: url("./../images/banner3.jpg");
  @apply h-100;
}
.index-banner {
  background-image: url("./../images/banner.jpg");
}
.live-banner {
  background-image: url("./../images/banner2.png");
}
.buyTicket-banner {
  background-image: url("./../images/exhibition1.jpg");
}
