.row {
  @apply flex flex-wrap -mx-4;
  > * {
    @apply w-full max-w-full px-4;
  }
}
.col {
  flex: 1 0 0;
}
// .col-3 {
//   @apply w-3/12;
//   flex: 0 0 auto;
// }
// .col-5 {
//   @apply w-5/12;
//   flex: 0 0 auto;
// }
// .col-6 {
//   @apply w-6/12;
//   flex: 0 0 auto;
// }
// .col-12 {
//   @apply w-full;
//   flex: 0 0 auto;
// }

// @screen md {
//   .md\:col-3 {
//     @apply w-3/12;
//     flex: 0 0 auto;
//   }
//   .md\:col-5 {
//     @apply w-5/12;
//     flex: 0 0 auto;
//   }
//   .md\:col-6 {
//     @apply w-6/12;
//     flex: 0 0 auto;
//   }
//   .md\:col-12 {
//     @apply w-full;
//     flex: 0 0 auto;
//   }
// }

// @screen lg {
//   .lg\:col-3 {
//     @apply w-3/12;
//     flex: 0 0 auto;
//   }
//   .lg\:col-5 {
//     @apply w-5/12;
//     flex: 0 0 auto;
//   }
//   .lg\:col-6 {
//     @apply w-6/12;
//     flex: 0 0 auto;
//   }
//   .lg\:col-12 {
//     @apply w-full;
//     flex: 0 0 auto;
//   }
// }

@for $i from 1 through 11 {
  .col-#{$i} {
    @apply w-#{$i}/12;
    flex: 0 0 auto;
  }
}
.col-12 {
  @apply w-full;
  flex: 0 0 auto;
}
@screen sm {
  @for $i from 1 through 11 {
    .sm\:col-#{$i} {
      @apply w-#{$i}/12;
      flex: 0 0 auto;
    }
  }
  .sm\:col-12 {
    @apply w-full;
    flex: 0 0 auto;
  }
}
@screen md {
  @for $i from 1 through 11 {
    .md\:col-#{$i} {
      @apply w-#{$i}/12;
      flex: 0 0 auto;
    }
  }
  .md\:col-12 {
    @apply w-full;
    flex: 0 0 auto;
  }
}
@screen lg {
  @for $i from 1 through 11 {
    .lg\:col-#{$i} {
      @apply w-#{$i}/12;
      flex: 0 0 auto;
    }
  }
  .lg\:col-12 {
    @apply w-full;
    flex: 0 0 auto;
  }
}
