<!DOCTYPE html>
<html lang="zh-Hant">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">

</head>

<body>
  <header class="sticky top-0 bg-white z-10">
    <nav class="navbar py-5 border-b border-gray-600">
      <div class="container justify-end relative">
        <a href="./index.html" class="nav-brand text-2xl text-primary absolute position-center">
          <h1>EXHIBINECTION</h1>
        </a>
        <ul class="navbar-nav text-gray-600 hidden md:flex">
          <li><a href="#" class="nav-link">Sign in</a></li>
          <li><a href="#" class="nav-link">Sign up</a></li>
        </ul>
        <a href="#" class="nav-link text-dark relative offcanvas-toggle">
          <span class="material-icons align-bottom">
            confirmation_number
          </span>
          <span class="bg-secondary text-white text-xs py-px px-2 rounded-full absolute -top-1.5 right-0.5">3</span>
        </a>
      </div>
    </nav>
  </header>

  <%- contents %>

    <footer>
      <div class="container py-7 flex">
        <div class="flex items-center flex-wrap mr-auto">
          <h2 class="text-2xl mr-4">EXHIBINECTION</h2>
          <span class=" text-base">© 2020. All Rights Reserved.</span>
        </div>
        <ul class="navbar-nav text-gray-600 hidden md:flex">
          <li><a href="#" class="nav-link">Sign in</a></li>
          <li><a href="#" class="nav-link">Sign up</a></li>
        </ul>
      </div>
    </footer>

    <!-- cart offcanvas -->
    <div class="offcanvas offcanvas-right flex flex-col bg-dark" data-offcanvas-toggle="false">
      <div class="offcanvas-header">
        <h3 class="text-white text-2xl md:text-4xl font-bold">Cart List</h3>
      </div>
      <ul class="offcanvas-body flex-grow overflow-y-scroll pr-2 md:pr-4 mr-2 md:mr-4">
        <li class="card flex bg-white rounded-sm relative pt-8 md:pt-7 pb-4 md:pb-6 px-4 md:px-8 mb-2 md:mb-3">
          <div class="card-header w-30 h-30 p-0">
            <img class="img-fluid" src=" ./assets/images/exhibition1.jpg" alt="product_image">
          </div>
          <div class="card-body py-0 md:pr-13 flex-grow">
            <h4 class="font-bold mb-1">2020 台味設計展</h4>
            <p class="font-medium mb-1">01 JUN — 31 OCT</p>
            <p class="mb-3.5 text-gray-600">全票</p>
            <p class="font-bold text-2xl">NT$350</p>
          </div>
          <div class="card-footer p-0 flex flex-col md:flex-row justify-center items-center">
            <button type="button" class="hover:opacity-60 font-bold h-6">
              <span class="material-icons-outlined">remove</span>
            </button>
            <span class="text-xl font-bold py-1 md:px-3">01</span>
            <button type="button" class="hover:opacity-60 font-bold h-6">
              <span class="material-icons-outlined">add</span>
            </button>
          </div>
          <button type="button" class="absolute top-1 left-1 hover:opacity-60">
            <span class="material-icons-outlined">close</span>
          </button>
        </li>
        <li class="card flex bg-white rounded-sm relative pt-8 md:pt-7 pb-4 md:pb-6 px-4 md:px-8 mb-2 md:mb-3">
          <div class="card-header w-30 h-30 p-0">
            <img class="img-fluid" src=" ./assets/images/exhibition2.jpg" alt="product_image">
          </div>
          <div class="card-body py-0 md:pr-13 flex-grow">
            <h4 class="font-bold mb-1">2020 台味設計展</h4>
            <p class="font-medium mb-1">01 JUN — 31 OCT</p>
            <p class="mb-3.5 text-gray-600">全票</p>
            <p class="font-bold text-2xl">NT$350</p>
          </div>
          <div class="card-footer p-0 flex flex-col md:flex-row justify-center items-center">
            <button type="button" class="hover:opacity-60 font-bold h-6">
              <span class="material-icons-outlined">remove</span>
            </button>
            <span class="text-xl font-bold py-1 md:px-3">01</span>
            <button type="button" class="hover:opacity-60 font-bold h-6">
              <span class="material-icons-outlined">add</span>
            </button>
          </div>
          <button type="button" class="absolute top-1 left-1 hover:opacity-60">
            <span class="material-icons-outlined">close</span>
          </button>
        </li>
        <li class="card flex bg-white rounded-sm relative pt-8 md:pt-7 pb-4 md:pb-6 px-4 md:px-8 mb-2 md:mb-3">
          <div class="card-header w-30 h-30 p-0">
            <img class="img-fluid" src=" ./assets/images/exhibition3.jpg" alt="product_image">
          </div>
          <div class="card-body py-0 md:pr-13 flex-grow">
            <h4 class="font-bold mb-1">2020 台味設計展</h4>
            <p class="font-medium mb-1">01 JUN — 31 OCT</p>
            <p class="mb-3.5 text-gray-600">全票</p>
            <p class="font-bold text-2xl">NT$350</p>
          </div>
          <div class="card-footer p-0 flex flex-col md:flex-row justify-center items-center">
            <button type="button" class="hover:opacity-60 font-bold h-6">
              <span class="material-icons-outlined">remove</span>
            </button>
            <span class="text-xl font-bold py-1 md:px-3">01</span>
            <button type="button" class="hover:opacity-60 font-bold h-6">
              <span class="material-icons-outlined">add</span>
            </button>
          </div>
          <button type="button" class="absolute top-1 left-1 hover:opacity-60">
            <span class="material-icons-outlined">close</span>
          </button>
        </li>
      </ul>
      <div class="offcanvas-footer text-white py-8 px-4 md:px-8 flex justify-between">
        <p class="text-2xl font-medium">小計<span class="ml-6">NT$1050</span></p>
        <a href="./cart_confirm.html" class="btn bg-white text-primary border-primary">前往結帳</a>
      </div>
      <button type="button"
        class="offcanvas-closeBtn flex justify-center items-center w-8 h-8 hover:bg-gray-900 rounded-full">
        <span class="material-icons-outlined text-white text-4xl">close</span>
      </button>
    </div>

    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src=" ./assets/js/all.js"></script>
</body>

</html>